.container {
  width: 82vw !important;
  margin: 60px auto !important;
}

li {
  display: inline-block;
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul > li {
  margin-bottom: 1rem;
}

li > span,
h2 {
  color: #333;
  font-weight: bold;
  font-size: 1.25rem;
}

.country {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.countryInnerContainer {
  width: 40%;
  min-width: 400px;
}

h2 {
  display: inline-block;
  margin-top: 40px !important;
}

.flag {
  width: 100%;
  height: 400px;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

.borders {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.borders li,
.borders a {
  display: inline-block;
  width: 70px;
  height: 50px;
  margin-bottom: 40px;
  justify-self: start;
  -webkit-box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
}

.info {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.innerList {
  display: flex;
  flex-direction: column;
}

.innerList li:first-child {
  margin-top: 10px;
}

.innerList li {
  margin-left: 30px;
}

.innerList li::before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 3px;
  background: #999;
  margin-bottom: 7px;
  margin-right: 10px;
  border-radius: 2px;
}
