.error {
  width: 380px;
  height: 50px;
  padding: 16px;
  background: #fff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
  margin-top: 200px;
  text-align: center;
}
