.filter {
  width: 90vw;
  padding: 120px 15px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.filter textarea {
  width: 380px;
  height: 50px;
  padding: 16px;
  border: none;
  overflow: hidden;
  outline: none;
  resize: none;
  border-radius: 10px;
  -webkit-box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
}

.filter .button {
  width: 90px;
  text-align: center;
  height: 50px;
  padding: 16px;
  background: #fff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
  outline: none;
  cursor: pointer;
}

.filter select {
  width: 160px;
  height: 50px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 9px 17px -3px rgba(0, 0, 0, 0.24);
  outline: none;
}
